<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/index.js"></script>
    <title>Taipei Trip 台北一日遊</title>
  </head>
  <body>
    <header class="navbar_pin">
      <nav class="navbar">
        <div class="website_name">台北一日遊</div>
        <ul class="nav_left_wrapper">
          <li id="reserve"><a href="">預定行程</a></li>
          <li id="register_or_login"><a href="">登入/註冊</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="main_header">
        <div class="inner">
          <div id="desc1">輕鬆享受台北一日遊</div>
          <div id="desc2">探索每個角落，體驗城市的深度旅遊行程</div>
          <div>
            <div class="search">
              <input
                type="text"
                placeholder="輸入景點名稱查詢"
                name=""
                id="search_content"
              />
              <button id="search_btn">
                <div>
                  <img src="/static/images/icon_search.png" alt="" />
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="boxes_container"></div>
    </main>
    <footer>
      <div>COPYRIGHT © 2021 台北一日遊</div>
    </footer>
  </body>
</html>
